<div class="container">
  <div (bookObj)='random($event)'>
    <form class="form-horizontal">
      <input type="hidden" [(ngModel)]="book.id" name="id"/>
      <div class="form-group">
        <label class="control-label col-sm-2">Book Title</label>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="book.title" name="title" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-sm-2">Book Author</label>
        <div class="col-sm-8">
          <input type="text" [(ngModel)]="book.author" name="author" class="form-control"/>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
          <button (click)="addBook()" class="btn btn-primary">Add Book</button>
        </div>
      </div>
    </form>
  </div>
  <div>
    <table class="table table-striped table-bordered">
      <tr style="background: lightblue;">
        <th>ID</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>ACTIONS</th>
      </tr>
      <tr *ngFor="let book of books">
        <td>{{book.id}}</td>
        <td>{{book.title}}</td>
        <td>{{book.author}}</td>
        <td>
          <button (click)="getBook(book.id)" class="btn btn-default btn-sm"><span
            class="glyphicon glyphicon-edit"></span></button>
          &nbsp;|&nbsp;
          <button (click)="deleteBook(book.id)" class="btn btn-default btn-sm"><span
            class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
      <tr *ngIf="!books">
        <td colspan="3">Loading... Please wait....</td>
      </tr>
      <tr *ngIf="books && books.length == 0">
        <td colspan="4">No records found!</td>
      </tr>
    </table>
  </div>
</div>
